body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
	margin: 100px;
}

header {
	display: flex;
	width: 80vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header p {
	margin: 0px;
	margin-bottom: 50px;
	font-size: 24px;
	text-align: left;
}

h1 {
	font-size: 3.5rem;
	margin-bottom: 5px;
	text-decoration-line: underline;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#personal_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 15vh;
}

#personal_info p {
	padding-bottom: 20px;
}
#project_panels {
	display: flex;
	width: 90vw;
}

#extended_project_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#extended_project_info p {
	margin: 0;
}

#page_bottom {
	height: 20px;
}
.project_container {
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 80vh;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	flex: 0.5;
	margin: 2px;
	position: relative;
	transition: flex 0.5 ease-in;
}

#container_1 {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.project_info h3 {
	font-size: 48px;
	text-shadow: 2px 2px 4px black;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0px;
	border-radius: 10px;
	opacity: 0;
}
.project_info {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.info_container {
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
}

.inner_text {
	font-size: 24px;
	font-weight: 100;
	text-shadow: 2px 2px 4px black;
	margin: 0px;
}

.active_container {
	flex: 5;
}

.active_container h3 {
	opacity: 1;
	transition: opacity 0.1s ease-in 0.1s;
}
.active_container div {
	opacity: 1;
	transition: opacity 0.1s ease-in 0.1s;
}

.active_container p {
	margin-bottom: 20px;
}

.active_info {
	display: block;
}

/* .active_info h3 {
	opacity: 1;
	transition: opacity 0.1s ease-in 0.2s;
} */

.noto-sans {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
